<% repo_url = "https://github.com/DS-100/#{@registration.repo_name}" %>

<h1>Repo created successfully</h1>

<p>
Hi <%= "#{@registration.first_name} #{@registration.last_name}" %>,
your repo was created successfully.
</p>


<p>
Your Github username <%= @registration.github_username %> was added to the repo
<a href="<%= repo_url %>"><%= @registration.repo_name %></a>.
</p>

<p>
<a href="http://www.ds100.org">Back to the course page.</a>
</p>
